#ignore thumbnails created by windows
Thumbs.db
testimpactdata.sdf
#Ignore files build by Visual Studio
*.dbmdl
*.obj
*.exe
*.pdb
*.user
*.userprefs
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.orig
[Ww]if*/
*.pidb
*.gpState
packages
*.nupkg
output
